<div class="container">
    <div class="text-align" style="margin-top: 5%;">
        <h1>Register for awesome colloborations</h1>
    </div>
    <form class="mt-4" [formGroup]="registrationForm">
        <div class="col-4">
            <label for="first_name" class="form-label">First Name:</label>
            <input type="text" id="first_name" name="first_name" class="form-control" formControlName="firstName">
            <div *ngIf="submitted && rf.firstName.errors" class="text-danger">
                <div *ngIf="rf.firstName.errors?.['required']">Please enter first name</div>
                <div *ngIf="rf.firstName.errors?.['minlength']">please enter a valid first name</div>
            </div>
        </div>
        <div class="col-4">
            <label for="last_name" class="form-label">Last Name:</label>
            <input type="text" id="last_name" name="last_name" class="form-control" formControlName="lastName">
            <div *ngIf="submitted && rf.lastName.errors" class="text-danger">
                <div *ngIf="rf.lastName.errors?.['required']">Please enter last name</div>
                <div *ngIf="rf.lastName.errors?.['minlength']">please enter a valid last name</div>
            </div>
        </div>
        <div class="col-4">
            <label for="dob" class="form-label">Date of Birth:</label>
            <input type="date" id="dob" name="dob" class="form-control" formControlName="dob">
            <div *ngIf="submitted && rf.dob.errors" class="text-danger">
                <div *ngIf="rf.dob.errors?.['required']">Please enter DOB</div>
            </div>
        </div>
        <div class="col-4">
            <label for="email" class="form-label">Email ID:</label>
            <input type="email" id="email" name="email" class="form-control" formControlName="email">
            <div *ngIf="submitted && rf.email.errors" class="text-danger">
                <div *ngIf="rf.email.errors?.['required']">Please enter email ID</div>
                <div *ngIf="rf.email.errors?.['minlength']">please enter a valid email ID</div>
            </div>
        </div>
        <div class="col-4">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" class="form-control" formControlName="password">
            <div *ngIf="submitted && rf.password.errors" class="text-danger">
                <div *ngIf="rf.password.errors?.['required']">Please enter password</div>
                <div *ngIf="rf.password.errors?.['minlength']">please enter a valid password</div>
            </div>
        </div>
        <div class="col-4">
            <label for="confirm_password" class="form-label">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" formControlName="confirmPassword" (keyup)="passwordComparision($event)">
            <div *ngIf="passwordMissMatch == false" class="text-danger">
                password and confirm password didn't match
            </div>
            <div *ngIf="submitted && rf.confirmPassword.errors" class="text-danger">
                <div *ngIf="rf.confirmPassword.errors?.['required']">Please enter confirm password</div>
                <div *ngIf="rf.confirmPassword.errors?.['minlength']">please enter a valid confirm password</div>
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-primary col-4 mt-4" value="Register" (click)="registarationSubmit()">
        </div>
    </form>
</div>