<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;;">
    <div class="container-fluid">
      <a class="navbar-brand">Game<span style="color: green;">ON</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="goToCategiries()">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/profile">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>